<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Café Criativo – Login</title>
    <link rel="stylesheet" href="/css/cafeteria.css" />
</head>

<body class="tela-login">
    <div class="login-box">
        <h2>☕ Café Criativo – Login</h2>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" th:value="${username}" placeholder="Digite seu login" required />

            <input type="password" name="password" placeholder="Digite sua Senha" required />
            <button type="submit">Entrar</button>

            <div class="mensagem-erro" th:if="${param.error}">
                Login ou senha inválidos ☹️
            </div>
        </form>
        <a class="logout"  th:href="@{/usuarios/cadastrar}">Não tem conta? Cadastre-se</a>
    </div>
</body>
</html>
